.image
    height: 200px

.title
    color: #0D4A4A
    font-family: Montserrat
    font-size: 48px
    font-style: normal
    font-weight: 700
    line-height: normal
    text-transform: uppercase

.content
    font-size: 16px
    font-weight: 400
    padding-left: 5px
    color: #0d4a4a
    font-family: Montserrat
    font-style: normal
    line-height: normal

.margin
    margin-bottom: 75px

.marginbtn 
    margin-bottom: 100px

.title__form
    color: #0D4A4A
    font-family: Montserrat
    font-size: 28px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: uppercase

.field
    &:focus
        box-shadow: 0 0 0 0.25rem rgba(254,106,0,.25)
.btn
    color: #F8F8F8
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    border-radius: 10px
    background: #FE6A00
    padding: 18px 30px
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60)
    &:hover
        color: #fff
        background: #0D4A4A
    &:first-child:active
        border-color: #0D4A4A
        color: #fff
        background: #FE6A00