.findlist{
    margin-bottom: 100px;
}

.title{
    margin-bottom: 50px;
    color: #0D4A4A;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.btnhovertoggle:hover{
    color: #fff;
    background: #0D4A4A;

}

.btnhovertoggle:active{
    color: #FE6A00;
    background: none;
}

.btnhovertoggle:focus{
    color: #FE6A00;
    background: none;
}

.margin{
    margin-bottom: 20px;
}

.btncustom{
    background: none;
    padding: 18px 0;
    color: #0D4A4A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #0D4A4A;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60);
}

.btncustompd{
    margin-bottom: 70px;
}

.padding{
    padding: 0 34px;
}

.image{
    border-radius: 50px;
    background: #D9D9D9;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.50);
    height: 238px;
    background: #0D4A4A;
}

.petitem{
    margin-bottom: 50px;
}

.btntext{
    padding: 18px 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.btntext:hover{
    background: #0D4A4A;
    color: #fff;
}

.petitem .name{
    color: #0D4A4A;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.petitem .data{
    color: #0D4A4A;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px auto;
}

.petitem .desc{
    color: #0D4A4A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
