.aboutme{
    padding-top: 0;
    margin-bottom: 70px;
}

.title{
    color: #0D4A4A;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}
.content{
    color: #0D4A4A;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}