.border
    border-radius: 10px
    border: 1px solid #0D4A4A
    padding: 0 48px
    
.select_custom
    padding: 0!important
.select_btn_custom
    // add your custom styles here
    border: none!important
    box-shadow: none!important
    padding: 0!important
    // add any other desired styles
.form_control_custom
    padding-right: 0
    padding-left: 6px
    color: #0D4A4A
    font-family: Ubuntu
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: normal
    border: none
    box-shadow: none
    &:focus
        border: none
        box-shadow: none 