.selected-flag{
    justify-content: flex-end!important;
    display: flex!important;
    padding-left: 0!important;
    width: 100px!important;
}

.intl-tel-input input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.phone-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.selected-dial-code{
    padding-left: 10px!important;
}

.auth .form-control-custom{
    padding-left: 120px!important;
}

.down::after{
    content: ""!important;
}

.down::after{
    content: url('../../../../assets/images/dist/i-arrow.svg');
}

.up::after{
    content: url('../../../../assets/images/dist/i-arrow.svg')!important;
    transform: rotate(180deg);
}

.footer-padding{
    padding: 28px 0!important;
}

.form-control-custom-text{
    color: #0D4A4A;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.auth{
    margin-bottom: 100px!important;
}