.header .swiper-wrapper{
    align-items: center;
}

.rewiews{
    padding-bottom: 200px;
}

.EasySteps{
    margin-bottom: 100px;
    padding: 0;
}

.aboutme{
    padding-bottom: 150px;
    margin-bottom: 0;
}