.btncustom:hover{
    background: #0D4A4A;
    color: #fff;
}

.btncustom{
    border-radius: 10px;
    background: #FE6A00;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60);
    color: #fff
}

.btncustomclose{
    border-radius: 10px;
    background: #0D4A4A;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60);
    color: #fff
}

.btncustomclose:hover{
    background: #FE6A00;
    color: #fff;
}

.title{
    color:#0D4A4A
}

