.btncustom
    border-radius: 10px
    border: 1px solid #0D4A4A
    background: none
    color: #0D4A4A
    font-family: Ubuntu
    font-size: 16px
    font-style: normal
    font-weight: 500
    text-transform: uppercase
    line-height: 150%
    padding: 10px 65px
    border-radius: 10px
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60)
    &:hover
        background: #FE6A00
        color: #fff
    
.image
    border: 1px solid #0D4A4A
    border-radius: 10px
    background: #D9D9D9
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.50)

.offer
    height: calc( 100% - 112px )
    margin-bottom: 100px
    .title 
        color: #0D4A4A
        font-family: Montserrat
        font-size: 48px
        font-style: normal
        font-weight: 700
        line-height: normal
        text-transform: uppercase
        margin-bottom: 50px
    .form-control-custom
        height: 155px
        resize: none
        &:placeholder-shown
            padding-top: 24px
            padding-left: 20px

    .offer__main
        margin-bottom: 70px
        .offer__margin
            margin-bottom: 32px
            &:last-child
                margin-bottom: 0
        .title
            color: #0D4A4A
            font-family: Montserrat
            font-size: 28px
            font-style: normal
            font-weight: 500
            line-height: normal
            text-transform: uppercase
        .main-who
            .xxl-col-2
                @extend .btncustom

        .add-photo
            .col-xxl-2.btn
                @extend .btn-custom-accent

        .description
            .col-xxl-8
                @extend .form-control-custom

        .How-who
            .col-xxl-8
                @extend .form-control-custom

        .address
            .xxl-col-2
                @extend .btncustom
    .start
        .col-xxl-2
            @extend .btn-custom-accent
.active
    background: #FE6A00!important
    color: #fff!important
    &:hover
        border: 1px solid #0D4A4A!important
        background: none!important
        color: #0D4A4A!important

.btn-custom-accent
    padding: 11.5px 49.5px
    border-radius: 10px
    background: #FE6A00
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60)
    color: #fff
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    border: none
    &:hover
        background: #FE6A00
        color: #fff