.title
    color: #0D4A4A
    font-family: Montserrat
    font-size: 48px
    font-style: normal
    font-weight: 700
    line-height: normal
    text-transform: uppercase
    
.title__form
    color: #0D4A4A
    font-family: Montserrat
    font-size: 28px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: uppercase

.marginb
    margin-bottom: 67px

.btn
    color: #F8F8F8
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    text-transform: uppercase
    border-radius: 10px
    background: #FE6A00
    padding: 18px 30px
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.60)
    &:hover
        color: #fff
        background: #0D4A4A
    &:first-child:active
        border-color: #0D4A4A
        color: #fff
        background: #FE6A00 

.textarea-height
    height: 145px
.textarea
    resize: none
.margin
    margin-bottom: 100px
.orign
    background: #FE6A00
.custom 
    color: #fff
    background-color: #FE6A00!important
    &:hover
        color: #fff
        background: #0D4A4A
    &:first-child:active
        border-color: #0D4A4A
        color: #fff
        background: #FE6A00 
    // Дополнительные стили по вашему выбору
.outcustom 
  color: #0D4A4A!important
  border:1px solid #0D4A4A!important
  // Дополнительные стили по вашему выбору

